rtlmeter/venv/
__pycache__/
*.pyc
verilator/
third_party/verilator/bin/verilator_bin
third_party/verilator/bin/verilator_bin_dbg
third_party/verilator/bin/verilator_coverage_bin_dbg
work/*
!work/.gitkeep
